@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&display=swap');


*{
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}
*::selection{
    background: #636161;
    color: #fff;
}

::-webkit-scrollbar{
    display: none;
}

:root{
    --main-color: #1c3474;
    --background: #faf5f5;
    --color001: #ffffff;
    --color002: #4b4646;
}

html{
    width: 100%;
    height: 100vh;
    color: #fff;
}

.bg{
    position: fixed;
    inset: 0;
    z-index: -1;
}

.callToContact{
    background: none;
    border: solid 1px var(--color001);
    padding: .5rem;
    margin: 1.6rem 0 0 1.5rem;
    cursor: pointer;
    font-weight: 400;
    color: var(--color001)
}
.callToContact:hover{
    background-image: linear-gradient(90deg, var(--color002), #000000);
}

.menuIcon{
    cursor: pointer;
    margin: 1.2rem 1rem;
    position: fixed;
    right: .4rem;
    top: .5rem;
}
.menu-style-line-1, .menu-style-middle-line{
    background: var(--color001);
    width: 2rem;
    height: .2rem;
    border-radius: .5rem;
}
.menu-style-middle-line{
    margin: .3rem;
}
.menu-style-line-1:hover, .menu-style-middle-line:hover{
    background: var(--color002);
}

.sidebar, .main-sidebar{
    background: #0a0a0a;
    position: absolute;
    inset: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}
.exit-button, .exit-main-menu-icon{
    box-shadow: 0 0 .5rem 1rem #fff;
    background: #fff;
    position: absolute;
    top: 0rem;
    right: 0rem;
    border-radius: 0 0 0 5rem;
    cursor: pointer;
    padding: 1rem 1rem 1rem 1.5rem;
    backdrop-filter: blur(3px);
}
.exit-button img, .exit-main-menu-icon img{
    animation: none;
}
.sidebar ul li, .main-sidebar ul li{
    cursor: pointer;
    list-style: none;
    margin: 0 0 2.5rem 0;
    padding: .2rem;
    font-size: 1.7rem;
    color: #fff;
}
.sidebar ul li:hover, .main-sidebar ul li:hover{
    border: solid .1px #fff;
    transition: .2s;
}

.sidebar ul, .main-sidebar ul{
    transition: 5s;
}

#init-bottom-text{
    max-width: 17rem;
    position: absolute;
    bottom: 1.2rem;
    left: 1.2rem;
    font-weight: 300;
}
#click-area{
    font-weight: 300;
    cursor: pointer;
}
#click-area:hover{
    text-decoration: underline;
}

.main-text{
    font-size: 1.3rem;
    font-weight: 300;
}

.action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.action p{
    position: absolute; 
    top: calc(50% - 1rem);
    animation: ease 1.8s animateAction infinite;
    cursor: pointer;
}

main.content{
    display: none;
}

.presentation-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    animation: ease-in reveal 1.7s;
}

.presentation-text p{
    margin: .4rem auto;
}

@media screen and (max-width: 750px) {
    #callToContact{
        margin: 1.2rem 0 0 1rem;
    }
    .menuIcon{
        margin: 1.2rem .6rem;
    }
}